	.site__header
		width 100%
		height 100vh  
		position relative
		z-index 0
		&__bg, &__mask
			height 100vh
			position absolute
			top 0
			left 0
			right 0
		&__bg
			background-image url('/img/bg.jpg')
			background-size cover
			background-position 50% 50%
			z-index -2
		&__mask
			background-color rgba(16, 16, 15, .45)
			z-index -1
		&__container
			height 100vh
			container()
			flexCentered()
			&__menu
				display none
			// 	&__line
			// &____title
			&__content
				&__subtitle
					margin-top 40px