.hero
	position relative
	height 640px
	min-height 75vh
	box-sizing border-box
	background-image url("http://pumpandhold.surge.sh/assets/img/rocket.jpg")
	background-size cover
	background-position center
	background-attachment fixed
	padding-top 56px
	
	.container
		height 100%

	&:after
		content ''
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		background-color rgba(0, 0, 0, .65)
		
	&__info
		position relative
		z-index 1
		display flex
		align-items flex-start
		justify-content center
		flex-direction column
		height 100%
		max-width 480px
		color #fff
		
	&__title
		font-size 36px
		text-transform uppercase
		font-weight 400
		margin-bottom 24px
		
	&__subtitle
		font-size 18px
		font-weight 100
		margin-bottom 60px
		
	&__button
		padding 0 20px
		border-radius 3px
		border 2px solid $color-red
		line-height 42px
		color #fff
		background-color $color-red
		transition all .3s ease-in-out
		
		&:hover
			background-color transparent
			color #fff
			border-color #fff