section.hero
	.container
		.hero__info
			h2.hero__title When Moon?
			h3.hero__subtitle Mooners is a market analytics platform built for the masses, we aim to use machine learning to find market patterns and advise investors about possible market opportunities and market analyses with an easy to use platform
			a.hero__button(href="https://t.me/mooners" target="_blank") Join our Telegram Group
	include ../countdown/index.pug