doctype html
html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="style.css")
	title Murilo Bastos
body
	main.site
		header.site__header.shadow-2
			.site__header__avatar.shadow-1
				figure.site__header__avatar__image
			ul.site__header__social
				li.site__header__social__item
					a(href="" title="Likedin" target="blank").site__header__social__item__linkedin
						i Likedin
				li.site__header__social__item
					a(href="" title="Github" target="blank").site__header__social__item__github
						i Github
				li.site__header__social__item
					a(href="" title="Twitter" target="blank").site__header__social__item__twitter
						i Twitter
				li.site__header__social__item
					a(href="" title="Facebook" target="blank").site__header__social__item__facebook
						i Facebook
			.site__header__info
				h1.site__header__info__title Murilo Bastos
				p.site__header__info__desc Grinned cobra a authentically along according against well much as cut sang engaging up lucid on familiar bound jellyfish one began some the one conically that some jeez jeez more delicate jeepers goodness yikes.
	