section.section
	.container
		h4.section__title We are a Crypto Signal Community
		img.section__icon(src=require('../../assets/startup.svg'))
		h5.section__subtitle Our goal is to make fair and very profitable Market moves so everyone can join the train and make profits together.<br />We are powered by a machine learning bot analysing by current Crypto Market.
		p.section__body Coins are carefully selected based on it's probaility to stay high, analyzed by it's market history.<br />We wan't to make human only trading with BOT free solutions to make sure that everyone have a chance to get REAL oportunities.
		a.section__button(href="https://t.me/pumpandholdcoin" target="_blank") Join our Signals Channel