.section
	padding 80px 12px
	text-align center
	
	&__title
		font-size 22px
		text-transform uppercase
		color #fff
		max-width 600px
		display block
		margin 0 auto 36px
		font-weight 600
	
	&__subtitle
		color #fff
		font-size 18px
		max-width 600px
		display inline-block
		font-weight 500
		margin-bottom 18px
		
	&__icon
		width 64px
		display block
		margin 0 auto 20px

	&__body
		font-size 16px
		font-weight 300
		color #fff
		
		&--small
			+below(m)
				font-size 12px
				
	&__button
		padding 0 20px
		background-color #fff
		border-radius 3px
		margin-top 30px
		display inline-block
		line-height 42px
		color $color-dark-text
		font-weight 600
		transition all .3s ease-in-out
		
		&:hover
			opacity .85
		
	&--inverted
		background-color #fff

		& ^[0]__title, & ^[0]__subtitle, & ^[0]__body
			color $color-dark-text
		