.section
	padding 80px 0
	text-align center
	
	&__title
		font-size 22px
		text-transform uppercase
		color #fff
		max-width 600px
		display block
		margin 0 auto 36px
		font-weight 600
	
	&__subtitle
		color #fff
		font-size 18px
		max-width 600px
		display inline-block
		font-weight 500
		margin-bottom 18px
		
	&__icon
		width 64px
		display block
		margin 0 auto 20px

	&__body
		font-size 16px
		color #fff
		