-
	var topics = [
		{ image: require('../../assets/pump.svg'), title: 'Fair community', text: 'We do not prepump, we are not asking for money. We are a community made for everyone!' },
		{ image: require('../../assets/erc20.svg'), title: 'xMNR ERC20 Token', text: 'All Mooner (xMNR) tokens where distributed for free for early adopters.<br />No ICO or token sale!' },
		{ image: require('../../assets/repump.svg'), title: 'Inteligent analysis', text: 'Using free and widespread market data we can learn from the past and provide healthy and acurate Signals' }
	]

section.section.section--topics
	.container
		ul.section__topics
			each topic in topics
				li.section__item
					img.section__icon(src=topic.image)
					h3.section__title #{topic.title}
					h3.section__subtitle !{topic.text}

