.countdown.countdown--hidden
	.container
		.countdown__header
			p.countdown__title Next SIGNAL
			p.countdown__title Cryptopia
		.countdown__time
			.countdown__unit
				p.countdown__number(data-time="days") 00
				span.countdown__label days
			.countdown__unit
				p.countdown__number(data-time="hours") 00
				span.countdown__label hours
			.countdown__unit
				p.countdown__number(data-time="minutes") 00
				span.countdown__label minutes
			.countdown__unit
				p.countdown__number(data-time="seconds") 00
				span.countdown__label seconds