section.section
	.container
		h4.section__title ERC20 Token
		h5.section__subtitle All xMNR tokens have been mass distributed for free, there where no ICO or token sale.<br />We are a community, we don't want you to pay for an idea and raise money from nothing, we wan't you to be part of the project by support us!
		p.section__body Next step in our radar is to list the coin on major exchanges, but you can currently trade in the decentralized exchanges below:
		ul.section__list
			li.section__list-item
				a(target="_blank" href="https://forkdelta.github.io/#!/trade/0x9ab0846fd44f467f7496bc2aa13eab5203c72a50-ETH") ForkDelta
			li.section__list-item
				a(target="_blank" href="https://etherdelta.com/#0x9ab0846fd44f467f7496bc2aa13eab5203c72a50-ETH") EtherDelta
			li.section__list-item
				a(target="_blank" href="https://token.store/trade/0x9ab0846fd44f467f7496bc2aa13eab5203c72a50") Token Store