section.section
	.container
		h4.section__title Registration
		h5.section__subtitle Airdrop registration is closed. We are preparing the Airdrop.
		p.section__body Everyone who have registred in the Airdrop period will receive their tokens soon.</br >More info on our Telegram channel.</br >Thanks!