section.site__about
	section.site__about__container
		.site__about__container__header
			h3 About me
			i Desenvolvedor Web em Just Digital
		.site__about__container__content
			p Assim mesmo, o aumento do diálogo entre os diferentes setores produtivos não pode mais se dissociar das formas de ação. 
			p ensando mais a longo prazo, a consulta aos diversos militantes estimula a padronização do impacto na agilidade decisória.
			p Neste sentido, o fenômeno da Internet afeta positivamente.