header.site__header
	figure.site__header__bg
	.site__header__mask
	.site__header__container
		ul.site__header__container__menu
			each line in [0, 1, 2]
				li.site__header__container__menu__line
		.site__header__container__content
			.site__header__container__content__title
				h2 Hello! I'm
				h1 Murilo Bastos
			.site__header__container__content__subtitle
				h5 Gostaria de enfatizar!
				h5 Neste sentido, o fenômeno da Internet afeta positivamente