section.hero
	.container
		.hero__info
			h2.hero__title Pump and Hold
			h3.hero__subtitle Specially selected coins PUMP community. <br /> We are not here to harm the market, we want to highlight small and interesting coins
			a.hero__button(href="#") Join our Telegram Channel