section.section.section--inverted
		h4.section__title What about helping us with some costs?
		h5.section__subtitle We are a nonprofit community, and we have some costs such as exchange listing fees, hosting, development costs and etc... 
		p.section__body.section__body--small Some donations wont't hurt. Any value is welcome ;D<br /><br />ETH: 0x33460Cf7bd35ad0B8a1Fe7e6563C1a245380b988<br /><br />BTC: 3Pp5b6yEZvJdojiyJMPLMiVLDVyvieyVs8<br /><br />LTC: MPxR6Gyq3e1PaDH5NFu1uxzdKzFTpcf6pf