template(name='header')
	header.header
		.header__inner
		.header__content
			.header__content__desc
				h4.header__content__desc__hat Hello! I am
				h3.header__content__desc__title#headline M
				h4.header__content__desc__info and I'm just a Front End Web Developer
			.header__content__social
				.header__content__social__links#social
					a.header__content__social__links__link.facebook(href='//fb.com/murilobast' title='Facebook') Facebook
					a.header__content__social__links__link.twitter(href='//twitter.com/murilobastdev' title='Twitter') Twitter
					a.header__content__social__links__link.linkedin(href='//linkedin.com/in/murilobast' title='LinkedIn') LinkedIn
					a.header__content__social__links__link.github(href='//github.com/murilobast' title='Github') Github