head
	title I'm Murilo Bastos
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='theme-color' content='#333333')
	link( rel='stylesheet' type='text/css' href='styles.css')
	script(src="jquery-2.1.4.min.js")
	script(src="typed.js")
	script(src="script.js")
body
	main.context
		header.header
			.header__inner
			.header__content
				.header__content__desc
					h4.header__content__desc__hat Hello! I am
					h3.header__content__desc__title#headline M
					h4.header__content__desc__info and I'm just a Front End Web Developer
				.header__content__social
					.header__content__social__links#social
						a.header__content__social__links__link.facebook(href='//fb.com/murilobast' title='Facebook') Facebook
						a.header__content__social__links__link.twitter(href='//twitter.com/murilobastdev' title='Twitter') Twitter
						a.header__content__social__links__link.linkedin(href='//linkedin.com/in/murilobast' title='LinkedIn') LinkedIn
						a.header__content__social__links__link.github(href='//github.com/murilobast' title='Github') Github
		section.content
			// to do
		footer.footer
			span.footer__copy &copy; 2015 Murilo Bastos 
				a(href='mailto:iam@murilobastos.com') (iam@murilobastos.com)