header.header
	.container
		h1.header__title Mooners
		.header__links
			a.header__link.header__link--telegram(href="https://t.me/mooners" target="_blank") Telegram
			a.header__link.header__link--twitter(href="https://twitter.com/moonersORG" target="_blank") Twitter
			a.header__link.header__link--paper(href=require('../../assets/whitepaper.pdf') target="_blank") White Paper