header.header
	.container
		h1.header__title Pump and Hold
		.header__links
			a.header__link.header__link--telegram(href="https://t.me/pumpandholdcoin" target="_blank") Telegram
			a.header__link.header__link--twitter(href="https://t.me/https://twitter.com/pumpandholdcoin" target="_blank") Twitter