head
	title Pump and Hold - Fair PUMPs for everyone!
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="description" content="We are a PUMP and HOLD community. Earn 2000 Free PNHD Tokens on registration!")
	link(rel="icon" href=require('./assets/favicon.png'))
	link(rel="apple-touch-icon" href=require('./assets/favicon.png'))
body
	main.site
		include ./modules/header/index.pug
		include ./modules/hero/index.pug		
		include ./modules/section/index.pug
		include ./modules/topics/index.pug